
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
} 

.button-primary{

    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #FFFFFF;
    border: 0;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 600;
}
/* Header Styles*/

header{

    background-color: rgba(255,144,14,0.10);
    padding:50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242
}
.nav-title{

    font-size: 2.8rem;
    font-weight: 700;
    color:#131313
}


.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}

.banner-img{
    margin-top: 20px;
    width: 100%;
}


/* Responsive Media Queries */
/*Mobile Devices*/

@media screen and (max-width:576px) {

    header{
        padding:20px;
    }
    nav{
        flex-direction: column;
    }

}


/* Tablet or Medium Devices */

@media screen and (min-width:576px) and (max-width:960px){

    header{
        padding: 40px;
    }
    nav{
        flex-direction: column;
    }
}