
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
} 

.button-primary{

    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #FFFFFF;
    border: 0;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 600;
}


.text-gray{
    color: #727272;
}

/* Header Styles*/

header{

    background-color: rgba(255,144,14,0.10);
    padding:50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242
}
.section-title{

    font-size: 2.8rem;
    font-weight: 700;
    color:#131313
}


.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner-img{
    margin-top: 20px;
    width: 100%;
}
/*Main Styles */
main {
    max-width: 1540px ;
    margin: 70px auto;
}
/*Team Styles*/

.teams-container{
display: flex;
align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

 .teams-title{
font-size: 2.8rem;
}
    

 .teams-title .quick{
    color: #727272;
    font-weight: 500;
}

.teams-title .text-feature{

    color: #FF900E;
    font-weight: 700;
}

/*Facts Styles */

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{

    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title{
    font-weight: 600;
   color: #727272;
   font-size: 1.25 rem;
   margin-top: 10px;
}

/*Sponsors Style*/

.sponsor{
    text-align: center;
}

.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
gap: 20px;
    align-items: center;
}

.sponsors-img-container img{
    width: 165px;
}

/* Responsive Media Queries */
/*Mobile Devices*/

@media screen and (max-width:576px) {

    header {
        padding:20px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-content,  
    .facts-card-container   {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

}


/* Tablet or Medium Devices */

@media screen and (min-width:576px) and (max-width:960px){

    header{
        padding: 40px;
    }
    nav, .teams-container,
    .sponsors-img-container{
        flex-direction: column;
    }
}